@model VuelosCRUD.ViewModels.VuelosViewModel

@{

}

<div>
  <h1>Baja</h1>
  @using (Html.BeginForm("DeleteById", "Vuelos"))
  {
    <div class="form-group">
      @Html.DropDownListFor(m => m.Id, new SelectList(Model.Vuelos, "Id", "NumeroVuelo"))
      @Html.ValidationMessageFor(m => m.Id)
    </div>
    <button class="btn btn-primary">Eliminar</button>
  }
</div>