@model VuelosCRUD.Models.Vuelo

@{
  var isNew = Model == null || Model.Id == 0;
  ViewData["Title"] = isNew ? "Alta" : "Modificación";
}

<div>
  <h1>@(isNew ? "Alta" : "Modificación")</h1>
  <form asp-action="Save" method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
      <label asp-for="HorarioLLegada" class="control-label"></label>
      <input asp-for="HorarioLLegada" class="form-control" placeholder="HH/mm" />
      <span asp-validation-for="HorarioLLegada" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="NumeroVuelo" class="control-label"></label>
      <input asp-for="NumeroVuelo" class="form-control" placeholder="ej: AU 2239" />
      <span asp-validation-for="NumeroVuelo" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="LineaAerea" class="control-label"></label>
      <input asp-for="LineaAerea" class="form-control" placeholder="Nombre de la línea" />
      <span asp-validation-for="LineaAerea" class="text-danger"></span>
    </div>
    <div class="checkbox-group">
      <input type="checkbox" asp-for="Demorado"/>
      <label asp-for="Demorado"></label>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>